<div class="container">
<div class="row col-xs-8 col-xs-offset-2">
  <br/>
  <label>Card Number</label>
    <div id="sq-card-number" class="form-control"></div>
  <label>CVV</label>
    <div id="sq-cvv" class="form-control"></div>
  <label>Expiration Date</label>
    <div id="sq-expiration-date" class="form-control"></div>
  <label>Postal Code</label>
    <div id="sq-postal-code" class="form-control"></div>
    <label>Price</label>
    <input type="text" value="$75" class="form-control" disabled />

  <button type="submit" onclick="requestCardNonce()" class="btn btn-primary btn-block">Submit</button>
  </div>
</div>
