  <div class="row">
    <div class="col-xs-6 col-xs-offset-2">
      <h2>Emergency Contact</h2>
    </div>
  </div>
  <%= render partial: "emcontact_form", locals: {contact: @secondary_contact, progress: 50, contact_type: "1"} %>
</div>
