<div class='container'>
  <div class="col-xs-4 col-xs-offset-4">
    <%= link_to "Register to tryout", new_player_path, class: 'btn btn-default' %>
    <%= link_to "Administrators", players_path, class: 'btn btn-default' %>
  </div>
</div>

