<%= image_tag 'biglogo.png', class: 'img-responsive', style: 'height: 400px; width: 400px; margin: 0 auto' %>
<h2 class="text-center">Pikes Peak Vigilantes Tryout/Training Camp</h2>
<h2 class="text-center">Edge Ice Arena</h2>
<h2 class="text-center">11/05/2016, 6:00pm-8:00am & 8:30pm-10:00pm</h2>
<p class="text-center">Thank You for your registration!</p>
<p class="text-center"> Please check in at the registration table one hour prior to your event.</p>
<p class="text-center">Note: Please bring a copy of your driver’s license, health insurance card.</p>
